html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0px;
  background-color: #FFFFFF;
  color: #757575;
  font-size: 14px;
  line-height: 1.7;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.06em;
}

body.modal-open {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
p {
  margin: 0px;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

a {
  margin: 0px;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  letter-spacing: 0.03em;
}

@media screen and (max-width: 1199px) {
  .logo {
    font-size: 24px;
    line-height: 1.16;
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

.logo-web {
  color: #2196F3;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 767px) {
  .container {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

@media screen and (max-width: 767px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section-title {
  color: #212121;
  font-weight: 700;
  text-align: center;
}

@media screen and (max-width: 1199px) {
  .section-title {
    margin-bottom: 30px;
    font-size: 28px;
    line-height: 1.17;
  }
}

@media screen and (min-width: 1200px) {
  .section-title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 0.85;
  }
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.button-primary {
  display: inline-block;
  min-width: 200px;
  border-radius: 4px;
  padding: 10px 32px;
  border: 1px solid transparent;
  background-color: #2196F3;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.socials {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #FFFFFF;
  letter-spacing: 0.03em;
}

.container-portfolio {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 767px) {
  .container-portfolio {
    padding-top: 60px;
    padding-bottom: 60px;
    max-width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .container-portfolio {
    padding-top: 60px;
    padding-bottom: 60px;
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container-portfolio {
    padding-top: 93px;
    padding-bottom: 94px;
    max-width: 1200px;
  }
}

.page-header {
  border-bottom: 1px solid #EEEEEE;
}

@media screen and (max-width: 767px) {
  .page-header {
    position: relative;
  }
}

.main-page {
  min-height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .main-nav {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #FFFFFF;
    text-align: center;
    z-index: 1;
  }
  .main-nav.is-open {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .main-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.logo-header {
  color: #000000;
}

@media screen and (max-width: 767px) {
  .menu-button {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    background-color: #FFFFFF;
  }
  .menu-button .icon-cross {
    display: block;
  }
  .menu-button .icon-menu {
    display: none;
  }
  .menu-button.is-open .icon-menu {
    display: block;
  }
  .menu-button.is-open .icon-cross {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-button:hover svg,
.menu-button:focus svg {
  fill: #2196F3;
}

@media screen and (max-width: 767px) {
  .site-nav {
    display: inline-block;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .site-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  .item:not(:last-child) {
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 768px) {
  .item:not(:last-child) {
    margin-right: 50px;
  }
}

.link {
  display: block;
  color: #212121;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  -webkit-transition: background-color 2000ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 2000ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .link {
    padding-top: 8px;
    padding-bottom: 8px;
  }
}

@media screen and (min-width: 768px) {
  .link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.link.current {
  position: relative;
  display: block;
  color: #2196F3;
}

.link.current::after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196F3;
}

@media screen and (max-width: 767px) {
  .link:not(:last-child) {
    margin-bottom: 40px;
  }
}

.address-header {
  font-style: normal;
}

@media screen and (min-width: 768px) {
  .address-header {
    margin-left: 84px;
  }
}

@media screen and (min-width: 1200px) {
  .address-header {
    margin-left: 305px;
  }
}

.contacts {
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .contacts {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}

.contacts-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 767px) {
  .contacts-item:not(:last-child) {
    margin-bottom: 16px;
  }
}

@media screen and (min-width: 768px) {
  .contacts-item:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts-item:not(:last-child) {
    margin-right: 30px;
  }
}

.icon-contacts {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  fill: #757575;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1199px) {
  .icon-contacts {
    margin-right: 8px;
  }
}

@media screen and (min-width: 1200px) {
  .icon-contacts {
    margin-right: 10px;
  }
}

.contact-link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-style: normal;
  color: #757575;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 480px) {
  .contact-link {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.02em;
  }
}

@media screen and (min-width: 1200px) {
  .contact-link {
    font-size: 14px;
    line-height: 1.14;
  }
}

.contact-link:hover, .contact-link:focus {
  color: #2196F3;
}

.contact-link:hover svg,
.contact-link:focus svg {
  fill: currentColor;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(47, 48, 58, 0.8);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (max-width: 767px) {
  .hero {
    max-width: 480px;
    height: 400px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url(../images/Header-Mob.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(../images/Header-Mob.jpg);
  }
}

@media screen and (max-width: 767px) and (min-resoulition: 2dppx) {
  .hero {
    background-image: url(../imeges/Header-Mob@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    height: 400px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url(../images/Header-Tab.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(../images/Header-Tab.jpg);
  }
}

@media screen and (min-width: 768px) and (min-resoulition: 2dppx) {
  .hero {
    background-image: url(../imeges/Header-Tab@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1200px;
    height: 600px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url(../images/Header-Desk.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(../images/Header-Desk.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-resoulition: 2dppx) {
  .hero {
    background-image: url(../imeges/Header-Desk@2x.jpg);
  }
}

@media screen and (max-width: 767px) {
  .hero-box {
    max-width: 360px;
  }
}

@media screen and (min-width: 768px) {
  .hero-box {
    max-width: 360px;
  }
}

@media screen and (min-width: 1200px) {
  .hero-box {
    max-width: 696px;
  }
}

.hero-title {
  margin-bottom: 30px;
  color: #FFFFFF;
  font-weight: 900;
  font-style: normal;
  text-transform: uppercase;
  text-align: center;
}

@media screen and (max-width: 1199px) {
  .hero-title {
    font-size: 26px;
    line-height: 1.61;
  }
}

@media screen and (min-width: 1200px) {
  .hero-title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.benefits {
  margin: -15px;
}

@media screen and (min-width: 768px) {
  .benefits {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.benefits-item {
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 15px;
}

@media screen and (min-width: 768px) {
  .benefits-item {
    width: calc((100% - 60px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .benefits-item {
    width: calc((100% - 120px) / 4);
  }
}

@media screen and (max-width: 767px) {
  .benefits-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.benefits-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 120px;
  border-radius: 4px;
  background-color: #F5F4FA;
}

.icon-priority {
  width: 70px;
  height: 70px;
}

.desk {
  margin-top: 30px;
  color: #757575;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.subject {
  margin-bottom: 10px;
  color: #212121;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

@media screen and (max-width: 767px) {
  .subject {
    text-align: center;
  }
}

@media screen and (max-width: 1199px) {
  .section.works {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .works-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .site-menu {
    position: relative;
    margin-right: 30px;
    width: calc((100% - 60px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .site-menu:last-child {
    margin-right: 0px;
  }
}

.item-title {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(47, 48, 58, 0.8);
  padding-top: 27px;
  padding-bottom: 27px;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
}

.section.team {
  background-color: #F5F4FA;
  max-width: 100%;
}

@media screen and (min-width: 768px) {
  .team-cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (max-width: 767px) {
  .cards-item {
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (min-width: 768px) {
  .cards-item {
    width: calc((100% - 60px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .cards-item {
    width: calc((100% - 120px) / 4);
    margin: 15px;
  }
}

@media screen and (max-width: 767px) {
  .cards-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.team-content {
  background: #FFFFFF;
  padding-top: 30px;
  padding-bottom: 24px;
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.headline {
  margin-bottom: 10px;
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

.text {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

.icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card-icon a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #AFB1B8;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-icon:hover a,
.card-icon:focus a {
  background-color: #2196F3;
  color: #FFFFFF;
  fill: currentColor;
}

.icon-link {
  width: 20px;
  height: 20px;
}

.clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: -15px;
}

@media screen and (min-width: 1200px) {
  .clients {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.clients-item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 15px;
  height: 90px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .clients-item {
    width: calc((100% - 60px) / 2);
  }
}

@media screen and (min-width: 768px) {
  .clients-item {
    width: calc((100% - 90px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .clients-item {
    width: calc((100% - 180px) / 6);
  }
}

.clients-item:hover, .clients-item:focus {
  border-color: #2196F3;
  color: #2196F3;
}

.icon-clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 90px;
  fill: #AFB1B8;
}

.icon-clients:hover, .icon-clients:focus {
  color: #2196F3;
}

.icon-clients:hover svg,
.icon-clients:focus svg {
  fill: currentColor;
}

.footer {
  background-color: #2F303A;
}

.footer-container {
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-container {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media screen and (min-width: 1200px) {
  .footer-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 100%;
  }
}

.adress-box {
  margin-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .adress-box {
    width: calc((100% - 60px) / 4);
  }
}

.logo-footer {
  margin-bottom: 20px;
  color: #FFFFFF;
}

.address-footer {
  font-style: normal;
}

.aside {
  margin-top: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: #FFFFFF;
}

@media screen and (max-width: 1199px) {
  .adress-link {
    margin-bottom: 8px;
  }
}

@media screen and (min-width: 1200px) {
  .adress-link {
    margin-bottom: 9px;
  }
}

.adress-link:last-child {
  margin-bottom: 0px;
}

.link-footer {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
}

@media screen and (max-width: 767px) {
  .social-link {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .social-link {
    width: calc((100% - 60px) / 4);
  }
}

.footer-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-icon a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #FFFFFF;
  background: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon:not(:last-child) {
  margin-right: 10px;
}

.footer-icon .icon-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20px;
  height: 20px;
  fill: #FFFFFF;
}

.footer-icon a:hover {
  background: #2196F3;
}

@media screen and (min-width: 1200px) {
  .mailing {
    width: calc((100% - 60px) / 2);
  }
}

.subscribe {
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 1200px) {
  .subscribe {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.subscribe input {
  width: 100%;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  margin-right: 12px;
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: #2F303A;
}

@media screen and (max-width: 1199px) {
  .subscribe input {
    margin-bottom: 20px;
  }
}

.button-footer {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border-radius: 4px;
  padding: 10px 32px;
  border: 1px solid transparent;
  background-color: #2196F3;
  color: #FFFFFF;
  background-size: contain;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;
}

.button-footer::after {
  display: inline-block;
  background-size: contain;
  content: "";
  width: 24px;
  height: 24px;
  margin-left: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url(../images/icon_send.svg);
  -webkit-transition: -webkit-transform 250ms;
  transition: -webkit-transform 250ms;
  transition: transform 250ms;
  transition: transform 250ms, -webkit-transform 250ms;
}

.button-footer:hover::after {
  -webkit-transform: translateY(-37px);
          transform: translateY(-37px);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 767px) {
  .backdrop {
    padding: 93px 15px;
    overflow-y: scroll;
  }
}

@media screen and (max-width: 1199px) {
  .backdrop {
    padding: 93px 15px;
  }
}

.modal {
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
  padding: 40px 40px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

@media screen and (max-width: 767px) {
  .modal {
    position: relative;
    margin: auto;
    max-width: 450px;
    width: 100%;
    min-height: 609px;
  }
}

@media screen and (min-width: 768px) {
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 450px;
    min-height: 609px;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    max-width: 528px;
    min-height: 581px;
  }
}

.close-popup {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #FFFFFF;
  background-size: contain;
}

.close-popup:hover svg,
.close-popup:focus svg {
  fill: #2196F3;
  border-color: #2196F3;
}

.modal-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
  font-size: 20px;
  line-height: 0.86px;
  letter-spacing: 0.03em;
  color: #212121;
}

@media screen and (max-width: 1199px) {
  .modal-title {
    line-height: 1.5;
    text-align: center;
  }
}

.form-field {
  position: relative;
  margin-bottom: 28px;
}

.form-input {
  width: 100%;
  margin: 0;
  padding: 12px 18px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.form-input:focus + .form-label,
.form-input:not(:placeholder-shown) + .form-label {
  color: #2196F3;
  -webkit-transform: translateY(-30px) translateX(-26px);
          transform: translateY(-30px) translateX(-26px);
}

.form-field input:hover,
.form-field input:focus {
  outline: none;
  border-color: #2196F3;
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
}

.form-field input:hover:focus-within,
.form-field input:focus:focus-within {
  color: #2196F3;
}

.form-label {
  position: absolute;
  top: 50%;
  left: 42px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  line-height: 1.14px;
  color: #757575;
  letter-spacing: 0.01em;
  -webkit-transition: -webkit-transform 250ms;
  transition: -webkit-transform 250ms;
  transition: transform 250ms;
  transition: transform 250ms, -webkit-transform 250ms;
}

.icon-modal {
  position: absolute;
  top: 50%;
  left: 16px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: inline-block;
  width: 18px;
  height: 18px;
  color: #212121;
}

.form-field:focus-within > .icon-modal {
  fill: #2196F3;
}

.textarea-field {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
  -webkit-transition: -webkit-transform 250ms linear;
  transition: -webkit-transform 250ms linear;
  transition: transform 250ms linear;
  transition: transform 250ms linear, -webkit-transform 250ms linear;
}

.textarea-field textarea:hover,
.textarea-field textarea:focus {
  outline: none;
  border-color: #2196F3;
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
}

.form-textarea {
  resize: none;
  width: 100%;
  max-height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.form-textarea:focus + .label-textarea,
.form-textarea:not(:placeholder-shown) + .label-textarea {
  color: #2196F3;
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
}

.label-textarea {
  position: absolute;
  top: 20px;
  left: 16px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  line-height: 1.14px;
  color: #757575;
  letter-spacing: 0.01em;
  -webkit-transition: -webkit-transform 250ms;
  transition: -webkit-transform 250ms;
  transition: transform 250ms;
  transition: transform 250ms, -webkit-transform 250ms;
}

.agree {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.checkbox {
  /*-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: absolute;*/
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox-label::before {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  content: "";
  background-image: url(../images/check.svg);
  border: 2px solid #212121;
  border-radius: 1px;
}

.checkbox:checked + .checkbox-label::before {
  background-color: #2196F3;
  background-size: contain;
  background-origin: border-box;
  border-color: #2196F3;
}

.checkbox-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 8px;
  letter-spacing: 0.03em;
}

@media screen and (max-width: 1199px) {
  .checkbox-label {
    font-size: 12px;
    line-height: 1.16;
  }
}

.checkbox-label a {
  margin-left: 3px;
  color: #2196F3;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

@media screen and (max-width: 1199px) {
  .checkbox-label a {
    font-size: 12px;
    line-height: 1.16;
  }
}

.button-submit {
  display: block;
  min-width: 200px;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 55px;
  border: 1px solid transparent;
  outline: none;
  background-color: #188CE8;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
}
/*# sourceMappingURL=main.css.map */