$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color:#2196F3;
$primary-white-color: #FFFFFF;
$logo-black-color: #000000;
$footer-link-color: rgba(255, 255, 255, 0.6);
$background-footer-color: #2F303A;
$background-header-color: rgba(47, 48, 58, 0.8);
$background-button-color: #F5F4FA;
$button-modal-color: #188CE8;
$primary-icon-color: #AFB1B8;
$font-logo: 'Raleway', sans-serif;
$font-text: 'Roboto', sans-serif;
$transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);