.adress-box {
    align-items: center;
    /*width: calc((100% - 60px) / 4);*/
    margin-bottom: 60px;
}

.logo-footer {
    margin-bottom: 20px;
    color: $primary-white-color;
}

.aside {
    margin-top: 20px;
    /*margin-bottom: 9px;*/

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: $primary-white-color;

    @media screen and (max-width: 1199px) {
        margin-bottom: 8px;
    }
}

.adress-link {
    margin-bottom: 8px;

    &:last-child {
        margin-bottom: 0px;
    }
}

.link-footer {
    /*margin-bottom: 9px;*/
    color: $footer-link-color;
    font-style: normal;
}