.adress-box {
    @media screen and (max-width: 1199px) {
        margin-bottom: 60px;
    }

    @media screen and (min-width: 1200px) {
        width: calc((100% - 60px) / 4);
    }
}

.logo-footer {
    margin-bottom: 20px;
    color: $primary-white-color;
}

.address-footer {
    font-style: normal;
}

.aside {
    margin-top: 20px;

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: $primary-white-color;
}

.adress-link {
    @media screen and (max-width: 1199px) {
        margin-bottom: 8px;
    }

    @media screen and (min-width: 1200px) {
        margin-bottom: 9px;
    }

    &:last-child {
        margin-bottom: 0px;
    }
}

.link-footer {
    color: $footer-link-color;
    font-style: normal;
}